{% extends 'base.html.twig' %}

{% block body %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur dignissimos dolores, ex exercitationem iste magni maiores maxime molestias numquam placeat, praesentium quae quam vel vero. Ad asperiores iure voluptatum.</p>
{% endblock %}