{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="card container p-3 couleurfondcard" style="max-width: 800px">
    <h3 class="text-center">Bucket modification</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn custom-btn mb-3 mx-3" >Submit</button>
        <a type="button" class="btn custom-btn mb-3 mx-3" href="{{ path('app_wish_list') }}">Back</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}